ipykernel
pandas
plotly
requests
streamlit>=1.32

# testing
pytest
pytest-cov

# needed for plotly
nbformat
statsmodels

#data validation
pandera[pandas] >=0.27.0

#install jupyternotebook
#jupyter-book==1.*